.list-container {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
  }
  
  .list-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .list-container table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  .list-container th,
  .list-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }
  
  .list-container th {
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  .list-container tr:hover {
    background-color: #9b9797;
    transition: background-color 0.2s ease-in-out;
  }
  
  .list-container .success {
    background-color: #75cc72;
    color: white;
    font-weight: bold;
  }
  
  .list-container .fail {
    background-color: #e7332a;
    color: white;
    font-weight: bold;
  }
  